body {
	background-color: lightblue;
}

h1 {
	font-family: Arial;
	text-align: center;
}

h2 {
	font-family: Arial;
}

p {
	font-family: Georgia, serif;
}

article {

}

#paragraph2 {
	border: 4px solid green;
	padding: 10px;
	background-color: white;
	max-width: 500px;
}

.blue {
	padding: 10px;
	color: white;
	background-color: darkblue;
}

ol {
    list-style-type: decimal-leading-zero;
}

a[href="http://www.w3schools.com"] {
    color: red;
}

table {
	max-width: 600px;
	border-collapse: collapse;
}

th, td {
    border: 2px solid black;     
	padding: 5px;
}

th {
    background-color: lightgrey;               
}

td {
	background-color: white;
}


