body {
	background-color: lightblue;
}

h1 {
	font-family: Arial;
	text-align: center;
	font-size: 50px;
}

h2 {
	font-family: Arial;
}

p {
	font-family: Georgia, Times New Roman, sans-serif;
	font-size: 13px;
}

#paragraph2 {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15px;
	line-height: 2;
	border: 4px solid green;
	padding: 20px;
	background-color: white;
	max-width: 700px;
}

.blue {
	padding: 10px;
	color: white;
	background-color: darkblue;
}

ol {
    list-style-type: decimal-leading-zero;
    font-size: 12px;
	color: black;
}

ol li::marker {
    font-size: 16px;
}

ol li a {
    color: darkblue;
}



a[href="http://www.w3schools.com"] {
    color: red;
}

table {
	max-width: 700px;
	border-collapse: collapse;
}

th, td {
    border: 2px solid black;     
	padding: 5px;
}

th {
    background-color: lightgrey;               
}

td {
	background-color: white;
}

